# Xcode / Swift
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata

# CocoaPods
Pods/
*.xcworkspace/contents.xcworkspacedata.xcuserstate

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# IDEs
.vscode/
.idea/
*.swp
*~

# Logs
*.log
